{
  "development": {
    "username": "admin",
    "password": "123456",
    "database": "forumDB",
    "host": "db",
    "dialect": "postgres",
    "port": 5432
  },
  "test": {
    "username": "admin",
    "password": "123456",
    "database": "forumTest",
    "host": "db",
    "dialect": "postgresql",
    "port": 5432
  },
  "production": {
    "username": "root",
    "password": "null",
    "database": "database_production",
    "host": "db",
    "dialect": "mysql"
  }
}
